VITE_API_BASE_URL=/api
ZDM_DB_URL=jdbc:mysql://127.0.0.1:3306/zdm_admin?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
ZDM_DB_HOST=127.0.0.1
ZDM_DB_PORT=3306
ZDM_DB_NAME=zdm_admin
ZDM_DB_USERNAME=zdm_admin
ZDM_DB_PASSWORD=zdm_admin_pwd
