VITE_API_BASE_URL=/api
VITE_PUBLIC_APP_ORIGIN=http://192.168.1.100:5173
ZDM_DB_URL=jdbc:mysql://127.0.0.1:3306/zdm_admin?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
ZDM_DB_HOST=127.0.0.1
ZDM_DB_PORT=3306
ZDM_DB_NAME=zdm_admin
ZDM_DB_USERNAME=zdm_admin
ZDM_DB_PASSWORD=zdm_admin_pwd
ZDM_SECURITY_DEV_TOKENS_ENABLED=true
ZDM_SECURITY_VERIFICATION_CODE=888888
ZDM_SECURITY_SESSION_DURATION=PT12H
